<div class="flex-container">
  <%= image_tag('email/homie.png', class: 'logo-homie') %>
</div>
<div class="flex-container">
  <%= image_tag('email/line_images.png', class: 'image-principal') %>
</div>
<div class="flex-container welcome-client" >
  <p>Hola Propietario Apellido,</p>
</div>
<div class="flex-container" >
  <p class="text-info">¿Recuerdas el registro que iniciaste para poner en renta tu propiedad con nosotros?<br>
    <a class="text-info-spaces" href="https://www.google.com">Continúa el proceso</a>
    y disfruta de todo lo que te ofrecemos. En Homie queremos que rentes tu<br>
    inmueble en el menor tiempo posible, por ello también publicamos tu anuncio en:
  </p>
</div>
<div class="flex-container">
  <div class="ads-list">
    <div class="ads-row">
      <%= image_tag('email/ads_1.png', class: 'first-images') %>
      <%= image_tag('email/ads_2.png', class: 'first-images img-cubic-meters') %>
    </div>
    <div class="ads-row">
      <%= image_tag('email/ads_3.png', class: 'second-images') %>
      <%= image_tag('email/ads_4.png', class: 'second-images') %>
    </div>
    <div class="ads-row">
      <%= image_tag('email/ads_5.png', class: 'third-images') %>
      <%= image_tag('email/ads_6.png', class: 'img-properties-com') %>
      <%= image_tag('email/ads_7.png', class: 'third-images') %>
    </div>
  </div>
</div>
<div class="flex-container" >
  <p class="text-info">así como en anuncios destacados dentro de Facebook y Google,<br>
    todo esto sin costo y sin pedirte exclusividad. ¡No dejes pasar la oportunidad!
  </p>
</div>
<div class="flex-container">
  <a href="https://www.google.com" class="continue-register">Continua tu registro ahora</a>
</div>

