<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<div class="navbar-principal">
  <div class="back-principal-image">
    <%= image_tag("back.png") %>
  </div>
  <div class="logo-principal-image">
    <%= image_tag("homie.png") %>
  </div>
  <div class="profile-principal-image">
    <%= image_tag("profile.png") %>
  </div>
</div>
<div class="details-report">
  <div class="info-report">
    <div class="homie-container">
      <%= image_tag("homie_desktop.png", class: "hidden-image") %>
    </div>
    <div class="text-info-report">
      <h3>Reporte de Inquilino</h3>
      <p>Fecha: julio 16 2019 Válido hasta: octubre 16 2019<br>
        Calculado con Homie Technology que tiene un rango de 0 a 1500</p>
    </div>
  </div>
  <div class="desktop-columns">
    <div class="score-profile-info">
      <div class="score-report">
        <div class="score-circle-container">
          <%= image_tag("circle.png", class: 'score-circle') %>
          <span class="number-circle">1052</span>
        </div>
        <div class="score-level">
          <div class="level-values">
            <span>0</span>
            <span>1500</span>
          </div>
          <%= image_tag("bar.png") %>
          <div class="level-categories">
            <span>Malo</span>
            <span>Medio</span>
            <span>Bueno</span>
            <span>Excelente</span>
          </div>
        </div>
        <div class="score-information">
          <p><strong>Este puntaje es Bueno</strong></p>
          <p>Rango superior al 43% de los inquilinos de México</p>
        </div>
        <div class="profile-categories">
          <p>Indentificación Otorgada: <strong>Verificada</strong></p>
          <p>Nivel Socioeconómico: <strong>NA</strong></p>
          <p>Listas negras: <strong>No</strong></p>
          <p>Prevención de lavado de dinero: <strong>No disponible</strong></p>
          <p>Redes Sociales vinculadas: <strong>Ninguna</strong></p>
        </div>
      </div>
    </div>
    <div class="description-profile-info">
      <div class="profile-info-title">
        <div class="profile-image">
          <%= image_tag("profile.png") %>
        </div>
        <div>
          <p class="profile-name">Esteban Manuel Lopez Ramirez</p>
          <p>centro, 123, Piso 12, Depa 123, Centro, Yucatán</p>
          <p>$44,000.00</p>
        </div>
      </div>
      <div class="profile-info">
        <div>
          <%= image_tag("icon_employee.png") %>
          <span>/ <strong>Empleo</strong></span>
        </div>
        <div>
          <%= image_tag("icon_book.png") %>
          <span>Especialidad-o-diplomado / <strong>UTM</strong></span>
        </div>
        <div>
          <%= image_tag("icon_money.png") %>
          <span>Ingresos verificados <strong>No disponible</strong></span>
        </div>
        <div>
          <%= image_tag("icon_mail.png") %>
          <span><strong>dev+victor126inquilino@homie.mx</strong></span>
        </div>
        <div>
          <%= image_tag("icon_phone.png") %>
          <span><strong>9992023842</strong></span>
        </div>
        <div>
          <%= image_tag("icon_people.png", class: "people-icon") %>
          <span>Referencia: <strong>Lorena Esther Manzanero Rodriguez</strong>
        <br>centro, 123, Centro, Yucatán, CP 97000</span>
        </div>
        <div>
          <%= image_tag("icon_people.png", class: "people-icon") %>
          <span>Referencia: <strong>Catalina Esmeralda Estrada Castro</strong>
        <br>centro, 123, Petrolera, Veracruz, CP 96500</span>
        </div>
        <div>
          <%= image_tag("icon_people.png", class: "people-icon-two") %>
          <span>Referencia: <strong>Luis Manuel Castillo Lopez</strong>
        <br>centro, 123, Centro, Yucatán, CP 97000</span>
        </div>
      </div>
    </div>
  </div>
  <div class="homie-info">
    <p>Nuestra tecnología nos permite rentar tu inmueble al <strong>mejor inquilino,</strong>
      sin <strong>ningún riesgo</strong> y en <strong>tiempo record.</strong></p>
    <%= image_tag("validated_homie.png") %>
  </div>
  <div class="button-save">
    <%= button_tag  do %>
      <span class="glyphicon glyphicon-download-alt"></span> Guardar
    <% end%>
  </div>
</div>
<%= stylesheet_link_tag "reports" %>